/* ================ RESET CSS ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* ================ CUSTOM PROPERTIES ================ */
:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --imp-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
}
/* ================ SECTION STYLE ================ */
.main__section {
  font-size: 0.95rem;
  margin: 2rem;
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  color: var(--neutral-gray);
}
.section__article h3,
p,
button {
  margin: 1.5rem 0.9rem;
}
